.main-beton-section {
    display: flex;
    align-items: flex-end;
    height: 700px;
    background-image: url(../img/beton-page-img/beton-bg-img__1920.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

//-- Главная секция страницы
@import 'main-beton.scss';

//-- Секция про рецептуру бетона
@import 'recept-beton.scss';

//-- Секция c таблицей цен на бетон
@import 'table-price.scss';