.main-beton-section {
  display: flex;
  align-items: flex-end;
  height: 700px;
  background-image: url(../img/beton-page-img/beton-bg-img__1920.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.main-beton__container {
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
}

.block-title__title {
  margin-bottom: 23px;
  font-family: "Oswald", sans-serif;
  font-size: calc(58px + (100vw * 0.01 - 14.40px));
  font-weight: 800;
  color: #ffffff;
  text-shadow: #000000 0px 0px 30px;
}

.block-title__discription {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 32px;
  color: #000000;
  text-shadow: #ffffff 0px 0px 30px;
}

.block-img__img {
  width: 100%;
}

.recept-beton {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #454549;
}

.recept-beton__block {
  position: relative;
  display: flex;
  height: 110px;
  margin-bottom: 150px;
}

.recept-beton__container {
  display: flex;
  justify-items: center;
  padding: 0;
}

.recept-beton__list {
  display: flex;
  position: absolute;
  top: -50px;
}

.recept-beton__item {
  display: flex;
}

.recept-beton__item:not(:last-of-type) {
  margin-right: 90px;
}

.recept-beton__item_discription {
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.recept-number,
.recept-text {
  font-family: var(--family-Oswald);
  color: #fff;
}

.recept-number {
  font-size: 60px;
}

.recept-text {
  font-size: 26px;
  letter-spacing: 1px;
}

.recept-beton__img-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.table-price {
  padding-top: 0;
}

.price__title {
  margin-bottom: 5px;
}

.price__discr {
  display: block;
  width: 70%;
  margin-bottom: 15px;
  font-size: 20px;
}

.table-item__title-name,
.table-item__title-name_filler-gravel {
  background-color: #EEEDED;
}

.table-item__text {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 2px;
  border: 1px solid #454549;
}

.table-item__title-name {
  width: 500px;
  font-weight: 600;
}

.table-item__title-name_filler-gravel {
  text-align: center;
  width: 300px;
  font-weight: 600;
}

.table-item__text-discr,
.table-item__text-price {
  font-weight: 400;
  color: #000000;
}

.table-item__text-discr {
  width: 500px;
}

.table-item__text-price {
  width: 200px;
  text-align: center;
}

.table-item__text-buy {
  width: 96px;
}

.table-item__text-buy:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #F0801B;
}
