.delivery__container {
    display: flex;
    flex-direction: column;
}

.delivery__title {
    font-size: calc(38px + (100vw * 0.01 - 14.40px));
    text-shadow: #F0801B 0px 0px 30px;
    color: #1355A0;
     
}

.delivery__discription {
    position: relative;
    width: 100%;
}

.eight-img {
    position: absolute;
    top: -100px;
    right: 100px;
}

.price-img {
    position: absolute;
    top: 300px;
    right: 100px;
    width: 200px;
}