.table-price {
  padding-top: 0;
}

.price__title {
  margin-bottom: 5px;
}

.price__discr {
  display: block;
  width: 70%;
  margin-bottom: 15px;
  font-size: 20px;
}

.table-item__title-name,
.table-item__title-name_filler-gravel {
  background-color: #EEEDED;
}

.table-item__text {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 2px;
  border: 1px solid #454549;
}

.table-item__title-name {
  width: 500px;
  font-weight: 600;
}

.table-item__title-name_filler-gravel {
  text-align: center;
  width: 300px;
  font-weight: 600;
}

.table-item__text-discr,
.table-item__text-price {
  font-weight: 400;
  color: #000000;
}

.table-item__text-discr {
  width: 500px;
}

.table-item__text-price {
  width: 200px;
  text-align: center;
}

.table-item__text-buy {
  width: 96px;
}

.table-item__text-buy:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #F0801B;
}
