//- Подключил шаблон с разметкой страницы
extends includes/doctypes.pug

//- Изменил название страницы
block doctype
    //- Наименование главной страницы
    - var titleName = 'НПФ "Монолит" - Производство товарного бетона';
    //- Массив с путями к файлам со стилями
    - var stylePath = ['css/beton.css'];

//- Вставил блок с будующим контентом
block content
    .container
        include includes/header.pug
    main.main
        section.main-beton-section
            include includes/main-beton.pug
        section.recept-beton 
            include includes/recept-beton.pug
        section.table-price
            include includes/table-price.pug
        section.delivery-section
            include includes/delivery-section.pug
    footer.footer
        include includes/footer.pug
        
    //--Библиотека jQuery
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    //--Готовый скрипт корзины
    <script defer src="https://lk.easynetshop.ru/frontend/v5/ens-f0a4ec62.js"></script>

    //--Стили элементов для корзины
    <link href="https://lk.easynetshop.ru/frontend/v5/ens-f0a4ec62.css" rel="stylesheet">
